@font-face {
  font-family: "geeeki-regularregular";
  src: url("../fonts/geeeki-regular-webfont.woff2") format("woff2"), url("../fonts/geeeki-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #e4e1e1;
}

.link {
  color: #252225;
}

ul {
  list-style: none;
}

.navbar-collapse {
  transition: all ease-in-out 0.5s;
}

.contact-heading {
  font-family: "Lato";
}

.heading {
  font-family: "Italiana";
  text-align: center;
}

.headline-heading {
  font-family: "Italiana";
}

.subtitle-heading {
  font-family: "Lato";
  font-size: 1.2rem;
}

.sub-heading {
  font-family: "Lato";
  text-align: center;
  font-size: 1.2rem;
}

.progressbar-heading {
  font-family: "Lato";
  font-weight: bold;
}

.designer__heading {
  font-family: "geeeki-regularregular";
  font-size: 6rem;
}

.name {
  font-family: "geeeki-regularregular";
  color: #252225;
}

.heading {
  font-family: "Italiana";
}

.buttons {
  display: flex;
  gap: 10px;
  align-items: center;
}

.hero-banner {
  background-color: #929292;
}
.hero-banner ul {
  list-style: none;
}

.work-section {
  background-color: #cbcbcb;
}

.sm-icons {
  flex-direction: row;
}

.vtimeline-icon,
.vtimeline:before {
  background-color: #282c31;
}

.ach-btn {
  background-color: #b8b8b8;
  border: none;
  padding: 10px 10px;
  font-family: "Lato";
}
.ach-btn:hover {
  background-color: #e0dfdf;
  border: none;
  transition: ease-in-out 0.5s;
}

.tb-link {
  background-color: #e4e1e1;
  color: #252225;
}

.nav-text {
  color: #252225;
  font-weight: 600;
}
.nav-text:hover {
  color: #252225;
}

.about-me {
  text-align: left;
}

.contact-heading {
  padding: 10px 10px;
}

.slick-container {
  width: 100%;
  padding: 30px 0;
}

.slick-carousel {
  display: flex;
  justify-content: space-between;
}

.slick-slide .slide-content {
  padding: 50px 100px;
}

.slick-arrow {
  z-index: 9;
  height: auto;
  width: auto;
}

.slick-prev {
  left: 12px;
}

.slick-next {
  right: 20px;
}

.slide-content img {
  width: 100px;
  height: auto;
}

.slick-dots {
  list-style: none;
  margin: 0 auto;
  text-align: center;
}
.slick-dots li {
  display: inline-block;
}
.slick-dots li button {
  transition: 0.2s ease-in-out 0s;
  border: none;
  padding: 0;
  color: transparent;
  width: 10px;
  height: 10px;
  margin-right: 10px;
  border-radius: 50%;
}
.slick-dots li.slick-active button {
  background-color: red;
  width: 14px;
  height: 14px;
}

.slick-dots li button:before {
  content: "";
}

.social-icon:hover {
  background-color: #e4e1e1;
  border-radius: 50%;
  padding: 10px;
  align-items: center;
  transition: all 0.3s ease-in-out;
  margin: 0 10px;
}

@media (min-width: 320px) and (max-width: 767px) {
  div#navbarSupportedContent {
    position: absolute;
    top: 100%;
    background: rgb(218, 216, 216);
    opacity: 0.7;
    width: 100vw;
    left: 0;
    right: 0;
    padding: 10px;
    padding-left: 20px;
  }
}

/*# sourceMappingURL=style.css.map */
