@use 'breakpoints' as breakpoints;

@include breakpoints.mobile-only{
    div#navbarSupportedContent {
    position: absolute;
    top: 100%;
    background: rgb(218, 216, 216);
    opacity: 0.7;
    width: 100vw;
    left: 0;
    right: 0;
    padding: 10px;
    padding-left: 20px;
  }
}
