@use 'breakpoints' as breakpoints;

@include breakpoints.mobile-only{
    div#navbarSupportedContent {
    position: absolute;
    top: 100%;
    background: rgb(218, 216, 216,0.7);
    // opacity: 0.7;
    width: 100vw;
    left: 0;
    right: 0;
    padding: 10px;
    padding-left: 20px;
  }
  div#nav-tab {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 5px;
  }
  .headline-heading{
    padding-block: 20px;
  }
}
@include breakpoints.tablet-only{
  div#nav-tab {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 5px;
  }
}
@media screen and (min-width: 993px) {
  .vtimeline-block {
    width: 50%;
  }
}